


<app-header></app-header>

<div class="jumbotron">
  <h1 align="center">Welcome to TodoList-2022</h1>
</div>

<main>
  <article>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor nostrum voluptas pariatur ipsam distinctio dolorum culpa illum dolores laboriosam harum ab, facere fugit officia. Perferendis expedita unde minima eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa nulla placeat. Totam voluptatum ipsa quo labore. Iusto perferendis harum perspiciatis, iste accusamus omnis, repellat quam sequi quos, voluptatibus suscipit!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae dolorum laborum distinctio asperiores itaque sequi nesciunt consectetur officia, accusantium suscipit aperiam dolores, natus consequuntur totam aliquid! Magnam corporis iure assumenda.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus molestias facilis assumenda sequi quod quidem harum perspiciatis quae a vitae in temporibus minus, dolores molestiae! Laudantium odio inventore quas natus?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus distinctio enim temporibus, vero facere magnam reprehenderit eos officia? Doloremque blanditiis numquam expedita repellendus, tempora saepe sed nemo dignissimos deleniti enim!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto atque facilis deserunt earum eius fuga necessitatibus tenetur ullam optio hic possimus eum exercitationem numquam, quae ducimus quis illo reiciendis repellat?
    </section>
    <section>
      <router-outlet></router-outlet>
    </section>
  </article>
</main>

<app-footer></app-footer>